body {
    background-color: #2891CA;
    overflow-x: hidden;
}

.wall-wrapper {
    margin: auto;
    position: relative;
    width: 800px;
    height: 400px;
    color: white;
    background-color: rgb(29,89,110);
}

.search-wrapper {
    margin: auto;
    position: relative;
    width: 800px;
    height: 50px;
    background-color: white;
}

.search-wrapper input[type="text"] {
    border: none;
    padding: 10px;
    height: 30px;
    width: 650px;
    float: left;
    font-size: 25px;
    color: darkgrey;
    display: inline;
}

.search-wrapper button {
    display: inline;
    width: 100px;
    padding: 5px;
    height: 50px;
    border: none;
    background-color: #81C784;
    float: right;
}

.search-wrapper button:hover {
    background-color: #2E7D32;
}

.wall-part {
    width: calc(50% - 125px);
    float: left;
    height: calc(100% - 200px);
    margin-top: 100px;
}

.content-user-name, .content-user-id {
    font-weight: bold;
    margin-top: 0;
}

#wall-left {
    margin-left: 125px;
}

#wall-right {
    background-size: contain;
    background: no-repeat center;
}

#fullscreen-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 9999;
    border: none;
    background: none;
}

#wall {
    position: absolute;
    width: 100%;
    height: 100%
}